body{
    background-image:url("../assets/fondo.gif") ;
    background-size:100vw 100vh;
}
.b-board-game {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 98vw;
}

.b-board-game img {
    width: 100px;
    cursor: pointer;
    margin: 10px;
    height: fit-content;
}

.b-questions {
    display: flex;
    justify-content: space-around;
    width: 95vw;
    border: 6px solid #FE4F60;
    border-radius: 10px;
    padding: 12px;
}
.b-questions div {
    display: flex;
    flex-direction: column;
   
}

.b-clues {
    width: 100%;
    text-align: center;
}

.b-questions h2, h2 {
    font-family: Arial;
    color: whitesmoke;
    text-align: center;
}

.b-questions button {
    border-radius: 10px;
    min-width: 100px;
    padding: 10px;
    background-color: #FE4F60;
    color: #FFFFFF;
    border: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
a{
    
    text-decoration: none;
    
}
.btn {
            
           
    padding: 0.8em 1.2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .btn:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
